:root {
  --soft-blue: hsl(231, 69%, 60%);
  --soft-red: hsl(0, 94%, 66%);
  --grayish-blue: hsl(229, 8%, 60%);
  --very-dark-blue: hsl(229, 31%, 21%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 60px;
}

.nav__menu {
  display: flex;
}

.nav__menu-item {
  margin-left: 24px;
  padding: 6px 18px;
  font-size: 0.8rem;
  cursor: pointer;
}

.nav__menu-item:hover {
  color: var(--soft-red);
}

.login {
  background-color: var(--soft-red);
  color: white;
  border: 1px solid var(--soft-red);
  border-radius: 4px;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.19);
}

.login:hover {
  background-color: transparent;
}

/* main page */

section {
  display: flex;
  padding: 60px;
}

.main-page {
  align-items: center;
}

.main-page__title {
  font-size: 3rem;
  font-weight: 500;
}

.main-page__sub {
  font-size: 1.2rem;
  padding: 24px 0;
  color: var(--grayish-blue);
}

.main-btn {
  padding: 12px 16px;
  border-radius: 4px;
  margin-right: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.19);
}

.main-btn:hover {
  background-color: transparent;
}

.chrome-btn {
  background-color: var(--soft-blue);
  border: 1px solid var(--soft-blue);
  color: white;
}

.chrome-btn:hover {
  color: var(--soft-blue);
}

.firefox-btn {
  border: 1px solid rgb(241, 241, 241);
  background-color: rgb(241, 241, 241);
}

.firefox-btn:hover {
  border: 1px solid var(--very-dark-blue);
}

/* features */

.features {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.features__title {
  font-size: 3rem;
  font-weight: 500;
}

.features__text-con {
  width: 45%;
  text-align: center;
  margin-top: 24px;
  font-size: 1.2rem;
  color: var(--grayish-blue);
}

.tab-menu__wrap {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid var(--grayish-blue);
}

.tab-menu__btn {
  padding: 48px 0 24px 0;
}

.tab-menu__btn a {
  color: rgb(104, 103, 103);
}

.tab-menu__btn a:hover {
  color: var(--soft-red);
}

.tab-active a {
  color: var(--very-dark-blue);
}

.tab-content-wrap {
	padding: 60px 24px;
  display: flex;
	align-items: center;
	justify-content: center;
}

.tab-right {
	padding: 0 80px;
}

.tab__title {
	font-size: 2.3rem;
	font-weight: 500;
	margin-bottom: 24px;
}

.tab__content {
	color: var(--grayish-blue);
	font-size: 1.2rem;
	margin-bottom: 24px;
}

.tab__btn {
	font-size: 0.9rem;
	padding: 8px 16px;
	color: white;
	background-color: var(--soft-blue);
	border-radius: 4px;
}

/* download */

.download {
	flex-direction: column;
	align-items: center;
}

.download__title {
	font-size: 3rem;
  font-weight: 500;
}

.download__text {
	font-size: 1.2rem;
	margin-top: 24px;
	color: var(--grayish-blue);
	width: 60%;
	text-align: center;
}

.install-wrap {
	width: 70%;
	margin: 48px 0;
	display: flex;
	justify-content: space-between;
}

.install-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 24px 0;
	border-radius: 6px;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.19);
}

.add {
	margin-top: 18px;
	font-weight: 500;
	font-size: 1.2rem;
}

.ver {
	font-size: 0.8rem;
	color: var(--grayish-blue);
	margin-top: 8px;
	margin-bottom: 36px;
}

.add-btn {
	margin-top: 24px;
	width: 90%;
	height: 36px;
	border-radius: 4px;
	background-color: var(--soft-blue);
	color: white;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.19);
}

.down-firefox {
	position: relative;
	top: 24px;
}

.down-opera {
	position: relative;
	top: 48px;
}

/* faq */
.faq {
	flex-direction: column;
	align-items: center;
}

.faq__title {
	font-size: 3rem;
	font-weight: 500;
}

.faq__text {
	margin-top: 24px;
	font-size: 1.3rem;
	color: var(--grayish-blue);
	width: 60%;
	text-align: center;
}

.faq__contents {
	width: 100%;
	margin: 60px 0;
}

.faq__item {
	width: 60%;
	margin: auto;
	padding: 24px 0;
	border-top: 1px solid var(--grayish-blue);
}

.question {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.5rem;

}

.ques-img {
	width: 20px;
	height: 15px;
}

.answer {
	display: none;
	padding-top: 48px;
	line-height: 2rem;
	color: var(--grayish-blue);
	font-size: 1.2rem;
}

.faq__btn {
	font-size: 0.8rem;
	padding: 12px 16px;
	border-radius: 4px;
	color: white;
	background-color: var(--soft-blue);
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.19);
}

/* contact */
.contact {
	width: 100%;
	background-color: var(--soft-blue);
	flex-direction: column;
	align-items: center;
	color: white;
}

.contact__sub-title {
	font-size: 0.7rem;
	margin-bottom: 36px;
}

.contact__title {
	font-size: 3rem;
	font-weight: 500;
	width: 50%;
	text-align: center;
}

.contact__form {
	text-align: center;
	margin-top: 36px;
	width: 50%;
}

.contact__input {
	width: 60%;
	padding: 16px 16px;
	border-radius: 4px;
	border: 0;
	outline: 0;
}

.submit-btn {
	width: 30%;
	padding: 16px 16px;
	background-color: var(--soft-red);
	color: white;
	border: 0;
	outline: 0;
	border-radius: 4px;
}



/* footer */
.footer {
	background-color: var(--very-dark-blue);
	color: white;
	display: flex;
	align-items: center;
	padding: 24px 60px;
}

.footer__layout {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.footer-menu__item {
	margin: 0 16px;
}

.sns-icon {
	background-color: transparent;
	margin: 0 16px;
}